nav {
    display: grid;
    grid-template-columns: 79% 11% 10%;
    background-color: rgba(0, 0, 255, 0.288);
    min-height: 8vh;
}

nav > div {
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-left: 4vh;
}