.register-container {
  max-width: 70vw;
  margin: 0 auto;

  padding: 15px;


}

.register-container h2 {
  text-align: center;
  color: unset;
  opacity: 0.8;
  margin-bottom: 6vh;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: unset;
  opacity: 0.8;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.submit-btn {
  background-color: #007bff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 102%;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.user-list {
  max-width: 70vw;
  margin: 0 auto;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

#user-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#user-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-name {
  flex-grow: 1;
  font-weight: bold;
}

.edit-btn, .delete-btn {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.edit-btn {
  background-color: #4CAF50;
  color: #fff;
}

.edit-btn:hover {
  background-color: #45a049;
}

.delete-btn {
  background-color: #f44336;
  color: #fff;
}

.delete-btn:hover {
  background-color: #e53935;
}

.edit-form {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.edit-input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.save-btn {
  background-color: #2196F3;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-btn:hover {
  background-color: #1976D2;
}

.conteiner_buton {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.search-input2 {
  border-radius: 20px;
  height: 4.5vh;
  width: 14vw;
  padding: 7px 30px;
  font-size: 13px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0);
  color: unset;
  gap: 3px;
}

.gato {
  height: 10px;
}