.register-container {
  max-width: 400px;
  margin: 0 auto;
}

.register-container h2 {
  text-align: center;
  color: unset;
  opacity: 0.8;
  margin-bottom: 6vh;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: unset;
  opacity: 0.8;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.submit-btn {
  background-color: #007bff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 104%;
}

.submit-btn:hover {
  background-color: #0056b3;
}