.Panae_content_left {
    border: 1px solid rgba(128, 128, 128, 0.314);
    height: 20vh;
    width: 26vw;
    display: grid;
    justify-content: center;
    place-items: center;
    border-radius: 0 0 5px 0;
}
.Panae_content_center {
    border: 1px  solid rgba(128, 128, 128, 0.314);
    height: 20vh;
    width: 26vw;
    display: grid;
    justify-content: center;
    place-items: center;
    border-radius: 0 0 5px 5px;
}
.Panae_content_right {
    border: 1px solid rgba(128, 128, 128, 0.314);
    height: 20vh;
    width: 26vw;
    display: grid;
    justify-content: center;
    place-items: center;
    border-radius: 0 0 0 5px;
}