* {
  user-select: none;
  font-family: sans-serif;
}
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #1b1a668a;
}
*::-webkit-scrollbar-track {
  background-color: rgba(158, 158, 158, 0.562);
}
.structureHeader {
  display: grid;
  grid-template-columns: 86% 10%;
  border-bottom: 1px solid grey;
  max-width: 100vw;
}
.oculto {
  font-size: 0px;
}
input {
  transition: border-color 0.3s ease-in-out,  box-shadow 0.3s ease-in-out;
  background-color: unset;
  color: unset;
  outline: #007BFF;
}
input:hover, input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
  transition: all 0.3s ease-in-out;
}

.Routing {
  overflow: auto;
  height: 73vh;
  max-width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
}
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 200px) and (max-width: 374px) {
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
  }
  .SideBar {
    display: none;
  }
  .NavMobileResponsive {
    display: block;
  }
  .structureHeader {
    min-width: 100vw;  
    display: grid;
    grid-template-columns: 61% 20%;
    height: 7vh;
    align-items: center;
  }
  .NavPC {
    min-width: 100vw;
  }
  .Routing {
    overflow: auto;
    height: 74vh;
    max-width: 100vw;
    min-width: 100vw;
  }
  main {
    display: grid;
    grid-template-rows: 81vh 9vh;
  }
}
/*  */
@media (min-width: 375px) and (max-width: 424px) {
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
  }
  .SideBar {
    display: none;
  }
  .NavMobileResponsive {
    display: block;
    min-height: 7vh;
  }
  .structureHeader {
    min-width: 100vw;  
    display: grid;
    grid-template-columns: 68% 20%;
    height: 7vh;
    align-items: center;
  }
  .NavPC {
    min-width: 100vw;
  }
  .Routing {
    overflow: auto;
    height: 74vh;
    max-width: 100vw;
    min-width: 100vw;
  }
  main {
    display: grid;
    grid-template-rows: 86vh 9vh;
  }
}
/*  */
@media (min-width: 425px) and (max-width: 499px) {
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
  }
  .SideBar {
    display: none;
  }
  .NavMobileResponsive {
    display: block;
  }
  .structureHeader {
    min-width: 100vw;  
    display: grid;
    grid-template-columns: 70% 20%;
    height: 7.5vh;
    align-items: center;
  }
  .NavPC {
    min-width: 100vw;
  }
  .Routing {
    overflow: auto;
    height: 74vh;
    max-width: 100vw;
    min-width: 100vw;
  }
  main {
    display: grid;
    grid-template-rows: 86vh 9vh;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
  }
  .SideBar {
    display: none;
  }
  .NavMobileResponsive {
    display: block;
  }
  .structureHeader {
    min-width: 100vw;  
    display: grid;
    grid-template-columns: 75% 20%;
    height: 7.5vh;
    align-items: center;
  }
  .NavPC {
    min-width: 100vw;
  }
  .Routing {
    overflow: auto;
    height: 74vh;
    max-width: 100vw;
    min-width: 100vw;
  }
  main {
    display: grid;
    grid-template-rows: 86vh 9vh;
  }
}
@media (min-width: 601px) and (max-width: 780px) {
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
  }
  .SideBar {
    display: none;
  }
  .NavMobileResponsive {
    display: block;
  }
  .NavPC {
    min-width: 100vw;
  }
  .structureHeader {
    min-width: 100vw;  
    display: grid;
    grid-template-columns: 79% 15%;
    height: 8vh;
    align-items: center;
  }
  .Routing {
    overflow: auto;
    height: 74vh;
    max-width: 100vw;
    min-width: 100vw;
  }
  main {
    display: grid;
    grid-template-rows: 86vh 9vh;
  }
}
@media (min-width: 781px) and (max-width: 1024px) {
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
  }
  .SideBar {
    display: none;
  }
  .NavMobileResponsive {
    display: block;
  }
  .NavPC {
    min-width: 100vw;
  }
  .structureHeader {
    min-width: 100vw;  
    display: grid;
    grid-template-columns: 81% 10%;
    height: 8.5vh;
    align-items: center;
  }
  .Routing {
    overflow: auto;
    height: 74vh;
    max-width: 100vw;
    min-width: 100vw;
  }
  main {
    display: grid;
    grid-template-rows: 86vh 9vh;
  }
}
/*  */
@media (min-width: 1024px) and (max-width: 1239px) {
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
  }
  .SideBar {
    display: block;
  }
  .NavMobileResponsive {
    display: none;
  }
  .NavPC {
    min-width: 100vw;
  }
  .structureHeader {
    min-width: 100vw;  
    display: grid;
    grid-template-columns: 70% 10%;
    height: 9vh;  
    align-items: center;
  }
  .Routing {
    min-width: 100%;
    max-height: 82vh;
    min-height: 82vh;
    overflow: auto;
  }
  /* ________________ */
  main {
    display: grid;
    grid-template-columns: 17% 83%;
    max-height: 100vh;
  }
}

@media (min-width: 1240px) and (max-width: 1439px) {
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
  }
  .SideBar {
    display: block;
  }
  .NavMobileResponsive {
    display: none;
  }
  .NavPC {
    min-width: 100vw;
  }
  .structureHeader {
    min-width: 100vw;  
    display: grid;
    grid-template-columns: 72% 13%;
    height: 10vh;
    align-items: center;
  }
  .Routing {
    min-width: 100%;
    max-height: 82vh;
    min-height: 82vh;
    overflow: auto;
  }
  /* ________________ */
  main {
    display: grid;
    grid-template-columns: 17% 83%;
    max-height: 100vh;
  }
}

/*  */
@media (min-width: 1440px) and (max-width: 2920px) {
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
  }
  .SideBar {
    display: block;
  }
  .NavMobileResponsive {
    display: none;
  }
  .NavPC {
    min-width: 100vw;
  }
  .structureHeader {
    min-width: 100vw;  
    display: grid;
    grid-template-columns: 73% 13%;
    height: 10vh;
    align-items: center;
  }
  .Routing {
    min-width: 100%;
    max-height: 82vh;
    min-height: 82vh;
    overflow: auto;
  }
  main {
    display: grid;
    grid-template-columns: 17% 83%;
    max-height: 100vh;
  }
}