.calendaryButton {
  display: grid;
  grid-template-columns: 70% 10% 20%;
  background-color: #ffffff00;  
  border: 1.5px solid #a7a7a7;
  border-radius: 8px;
  min-width: 9vw;
  max-width: 12vw;
  height: 7vh;
  cursor: pointer;
  align-items: center;
  color: unset;
  opacity: 0.8;
  outline: none;
  transition: border-color 0.3s ease-in-out,  box-shadow 0.3s ease-in-out;

  margin-top: 10%;
}.calendaryButton:hover {
  border-color: #007BFF;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}
  
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(60, 58, 68, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalContent {
  background-color: #0f0e4a;
  border-radius: 5px;
  width: 20vw;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
  
.customHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;    
}
  
/* Estilos adicionales para hacer que el calendario se ajuste al tamaño del modal */
.modalContent :global(.react-datepicker) {
  font-size: 0.7em;
  width: 100%;
}
  
.modalContent :global(.react-datepicker__month-container) {
  float: none;
  width: 100%;
}
  
.modalContent :global(.react-datepicker__day-name), 
.modalContent :global(.react-datepicker__day),
.modalContent :global(.react-datepicker__time-name) {
  width: 1.5em;
  line-height: 1.5em;
  margin: 0.1em;
}
  
.modalContent :global(.react-datepicker__month-year-dropdown-container) {
  font-size: 0.8em;
}
  
.modalContent :global(.react-datepicker__year-wrapper) {
  max-width: 100%;
  justify-content: center;
}
  
.modalContent :global(.react-datepicker__year-text) {
  padding: 2px;
  margin: 1px;
}
  
.modalContent :global(.react-datepicker__month-text) {
  padding: 2px;
  margin: 1px;
}
