.main {
    display: grid;
    grid-template-columns: 17% 83%;
}

.mainLeft {
    background-color: rgba(130, 91, 167, 0.507);
    min-height: 92vh;
    display: flex;
    flex-direction: column;
}

.mainLeftTop {
    min-height: 81vh;
}

.mainLeftBottom {
    min-height: 11vh;
    background-color: aqua;
}

.mainRightDonutGraphics {
    display: flex;
    margin-top: 2vh;
    flex-wrap: wrap;
}

.containerDonut {
    min-height: 25vh;
    min-height: 25vh;
    min-width: 16.66vw;
    max-width: 16.66vw;
    margin-left: 3%;
    margin-top: 3%;
    display: grid;
    grid-template-rows: 80% 20%;
    background-color: rgb(0, 0, 0);
    border-radius: 7px;
    font-size: 10px;
    padding: 0.6%;
}

.containerTopDonut {
    display: grid;
    grid-template-columns: 30% 70%;
}

.donutLeft {
    display: grid;
    grid-template-rows: 20% 80%;
}.tittleDonut {
    border-bottom: 1px white solid;
    display: grid;
    place-items: center;
}.imgDonut {
    display: grid;
    place-items: center;
}

.donutRight {
    border-left: 1px white solid;
    place-items: center;
}

.containerButtomDonut {
    display: grid;
    grid-template-columns: 85% 15%;
    border-top: 1px white solid;
}

.textoDonut {
    display: flex;
    align-items: center;
}

.estadoStock {
    border-left: 1px white solid;
    display: grid;
    place-items: center;
}

.containerBarChart {
    margin-top: 8vh;
    margin-left: 3%;
    min-width: 94%;
    max-width: 80%;
    min-height: 46vh;
    max-height: 46vh;
    background-color: chocolate;
    border-radius: 10px;
}

