.containerStock {
    min-width: 94%;
    max-width: 94%;
    max-height: 70vh;
    min-height: 70vh;
    margin-left: 3%;
    border-radius: 5px;
    font-family: sans-serif;
}
/*  */
.almuerzoIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}.almuerzoIcon > div:hover {
    background-color: rgba(117, 117, 117, 0.187);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 7%;
}.almuerzoIcon > div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 7%;
}
.almorzado_S {
    color: #3B82F6;
}
.almorzado_N {
    color: grey;
}
/*  */
.actionsIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}.actionsIcon > div:hover {
    background-color: rgba(117, 117, 117, 0.187);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 7%;
}.actionsIcon > div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 7%;
}
/*  */
.studentId_stok {
    place-items: center;
    opacity: 0.8;
    padding-right: 30%;
}
/*  */
.containerAll {
    display: grid;
    grid-template-rows: 12% 88%;
    height: 530px;
}
.tittles {
    display: grid;
    grid-template-columns: 5% 20% 15% 19% 13% 15% 16% 10%;
    border-bottom: 1.2px solid rgba(101, 97, 97, 0.329);
    width: 100%;
    height: 6vh;
    font-size: 14px;
    opacity: 0.6;
}.tittles > div {
    border-right: 1px solid rgba(0, 0, 0, 0.13);
    border-left: 1px solid rgba(0, 0, 0, 0.169);
    display: grid;
    place-items: center;
}
.student {
    display: grid;
    grid-template-columns: 5% 20.3% 15.1% 19% 13.3% 15.1% 16.1% 10%;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid rgba(108, 108, 108, 0.194);
    transition: background-color 0.2s ease;
}.student:hover {
    background-color: #7d7d7d11;
}
.student > div {
    /* border-right: 1px solid red;
    border-left: 1px solid red; */
    /* padding-left: 30%; */
}
/* Tengo que poner id y almuerzo en text align center. */
.students {
    max-height: 75vh;
    overflow: auto;
    overflow: transparent;
}
.aprobarAsistencia {
    cursor: pointer;
}
.student > div {
    height: 100%;
    display: grid;
    align-items: center;
    font-size: 14px;
}
.search-container {
    display: flex;
    width: 40vw;
    justify-content: space-around;
}
  .search_input {
    border-radius: 20px;
    height: 4.5vh;
    width: 14vw;
    padding: 7px 30px; /* Aumenté el padding a la derecha para hacer espacio para la lupa */
    font-size: 13px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0);
    color: unset;
  }
  .search_input:hover {
    border-color: #007BFF;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
  }
  .search_input::placeholder {
    color: #aaa;
    font-style: italic;
  }
  .lupa {
    color: #007bffb3;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  .lupa:hover {
    color: #0056B3;
  }
.containerFormStock {
    display: flex;
    align-items: center;
    background-color: rgba(32, 29, 35, 0);
    border-bottom: 1px solid #68727D;
    padding: 8px 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
}
.selectBeca {
    width: 9vw;
    height: 7vh;
    padding: 10px 7px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: unset;
    color: unset;
    cursor: pointer;
}.selectBeca:hover {
    border-color: #007BFF;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}option {
    color: black;
}
.modalInfoStudent {
}