.toggle_switch_container_night {
    width: 5vw;
    height: 5vh;
    border-radius: 3vw;
    border: 1px solid white;
    background-color: rgb(34, 34, 34);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}
.toggle_switch_container_day {
    width: 5vw;
    height: 5vh;
    border-radius: 3vw;
    border: 1px solid white;
    background-color: rgb(92, 92, 92);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}
.circleSwitchNight {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: white;
    margin-left: 5px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circleSwitchDay {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: black;
    margin-left: 40px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgNight {
    display: grid;
    place-items: center;
    color: white;
}
.imgDay {
    color: black;
}