.toggle_switch_container_night {
    width: 5vw;
    height: 5vh;
    border-radius: 3vw;
    border: 1px solid white;
    background-color: rgb(44, 43, 43);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.toggle_switch_container_day {
    width: 5vw;
    height: 5vh;
    border-radius: 3vw;
    border: 1px solid gray;
    background-color: white(44, 43, 43);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.circleSwitchNight {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    margin-left: 5px;
    transition: all 0.3s ease-in-out;
}

.circleSwitchDay {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    margin-left: 50px;
    transition: all 0.3s ease-in-out;
}

.imgNight {
    height: 100%;
    width: 100%;
}

.imgDay {
    height: 100%;
    width: 100%;
}