.sideBarContainer {
    background-color: rgba(132, 0, 255, 0.507);
    min-height: 92vh;
    max-height: 92vh;
    display: flex;
    flex-direction: column;
}

.sideBarTop {
    min-height: 81vh;
}

.sideBarBottom {
    min-height: 11vh;
    background-color: aqua;
}